@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'> */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono';font-size: 22px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#carouselimg{
  max-height: 800px;
}

